auto-install-peers = true
# public-hoist-pattern[]=*storybook*
# comment out below when releasing from command line / repo
# readd for deployment ci/cd pipeline or github worfklows and actions for automatd release
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
always-auth=true